.extension__body{
    width: 25rem;
}

.logo{
    width: 3.5rem;
}

.extension__start--button{
    margin-left: 16rem;
}

.extension__star--icon{
    width: 1rem;
}

.extension__star--button{
    text-decoration: none;
}