.extension__body{
    width: 25rem;
}

.logo{
    width: 3.5rem;
}

.extension__start--button{
    margin-left: 16rem;
    background-color: #34a853;
}

.extension__star--icon{
    width: 1rem;
}

.extension__star--button{
    text-decoration: none;
}

.modal-header{
    background-color: #34a853;
}